@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
h1 {
    position: sticky;
    top: 0;
    text-align: center;
    font-family: 'Sriracha', cursive;
    color: firebrick;
    background-image: url('head_bg.jpeg');
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;
} 

li {
    float: left;
}

li a{
    display: block;
    color: white;
    padding: 14px 95px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    color: black;
    background-color: darkorange;
}
